<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.7.198" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.7.198" targetFramework="net452" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net452" />
</packages>